<div class="container-fluid d-flex justify-content-between align-items-center bg-primary text-white p-4 px-5">
    <a href="/products" class="btn btn-primary">E-Commerce</a>
    <div class="d-flex align-items-center gap-2">
        <a href="/profile" class="btn btn-primary">Mi perfil</a>
        <a href="/products" class="btn btn-primary">Productos</a>
        <a href="/carts/{{user.cart}}" class="btn btn-primary">Mi carrito</a>
    </div>
    <a href="/api/sessions/logout" class="btn btn-primary">Logout</a>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center bg-black text-white p-3 mb-5">
    <h1>Panel de administrador</h1>
</div>
<div class="container pb-4">
    <table class="table align-middle text-center">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{this._id}}</th>
                <td>{{this.first_name}} {{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td><button onclick="changeRole('{{this._id}}')" class="btn btn-primary">Cambiar rol</button></td>
                <td><button onclick="deleteUser('{{this._id}}')" class="btn btn-danger">Eliminar usuario</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/js/panel.js"></script>